<h1>Admin::Dashboard#show</h1>
<header class="page-header">
</header>
<div class="well" style="text-align: center">
  TOTAL NUMBER OF PRODUCTS: <strong><%= @products %> <br></strong>
</div>
<div class="well" style="text-align: center">
  TOTAL NUMBER OF CATEGORIES: <strong><%= @categories %></strong>
</div>
